[submodule "public"]
	path = hugo/public
	url = git@github.com:andrewjesaitis/andrewjesaitis.github.io.git
[submodule "hugo/themes/hot-chocolate"]
	path = hugo/themes/hot-chocolate
	url = https://github.com/andrewjesaitis/hot-chocolate.git
